<div class="container my-4">
  <h1>Dashboard</h1>
  <div class="d-flex">
    <%= cl_image_tag current_user.avatar.key, class: "avatar-large" %>
    <div class="ms-4">
      <p class="m-0"><strong><%= current_user.first_name %> <%= current_user.last_name %></strong></p>
      <p class="m-0"><%= current_user.address %></p>
    </div>
  </div>
  <div class="my-4">
    <h3>My Bookings</h3>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2>Product name</h2>
        <p>Product description with relevant info only.</p>
      </div>
    </div>
  </div>
</div>
