<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1506152983158-b4a74a01c721?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80);">
  <div class="container">
    <h1>HClass</h1>
    <p>Not sure what to wear? Worry not</p>
    <a class="btn btn-flat" href="#">Explore!</a>
    <hr>
  </div>
</div>

<div class="container mt-4 text-center">
  <h2>Get dress for yourself</h2>
  <div class="cards mt-4">
    <% @categories.each do |category| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1537832816519-689ad163238b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1159&q=80)">
        <%= category %>
      </div>
    <% end %>
  </div>
</div>
