<div class="container">
  <div class="cards">
    <p>this is Items show page</p>
      <% @items.each do |item| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#)">
        <%= item.name%>
        <% end %>
      </div>
  </div>
</div>
