.card-item {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  height: 70vh;
}

.card-image {
  object-fit: cover;
  background-position: center;
  height: 100%;
  background-repeat: no-repeat;
}

.card-item-middle {
  padding-right: 10px;
  line-height: 45px;
  position: relative;
  .item-value {
    margin-left: 12px;
  }
}

#booking_start_date, #booking_end_date {
  width: 100%;
  padding: 8px 19px;
  letter-spacing: 1px;
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  transition: opacity 0.3s ease;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  transition: opacity 0.3s ease;
  margin-left: 5px;

  &:hover {
    color: #747171;
  }
}

#avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: 75px;
}

.reserve-form {
  margin-left: 10px;
  max-width: 1120px;
  padding: 24px;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  h3 {
    margin-top: 20px;
  }

}

#item-name {
  font-size: 50px;
}
