.card-item {
  overflow: hidden;
  height: 360px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

.card-item img {
  height: 100%;
  width: auto;
}

.card-item h2 {
  font-size: 26px;
  font-weight: bold;
  margin-top: -135px;
  margin-left: 70px;
}

.card-item p {
  font-size: 20px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  margin-left: 70px;
}

.card-item .card-detail {
  position: relative;
}

.card-body {
  margin-left: 100px;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  // position: absolute;
  // top: 330px;
  // right: 100px;
}

.btn-ghost:hover {
  opacity: 1;
}

#avatar {
  // position: absolute;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  // top: 110px;
  // right: 100px;
}


.card-review {
  width: 50vw;
  .card-product-infos {
    padding-left: 30px;
  }
}

.reserve-form {
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  // position: absolute;
  // right: 70px;
  margin-top: 60px;
  margin-left: 50px;
}

#item-name {
  font-size: 50px;
}

.card-item-right {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: flex-end;
  padding: 24px;
}
